/*
General Styling
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #009578;
  color: #fff;
}

ul,
li {
  text-decoration: none;
  list-style: none;
  min-height: 1rem;
}
li {
  color: #000000;
  font-size: 1.3rem;
  margin-top: 1rem;
  border: 1px solid #fff;
  border-radius: 0.4rem;
  background-color: #fff;
  padding: 0.3rem 1rem;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
}

main {
  margin: 2rem 4rem;
  gap: 5rem;
}

section {
  width: 25%;
}

input {
  border: 1px solid #fff;
  /* border-radius: 0.4rem; */
  background-color: #fff;
  /* padding: 0.3rem 1rem; */
  width: 100%;
}

.add-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.delete-icon {
  width: 1.5rem;
  stroke: #000;
  text-align: center;
}
.delete-icon:hover {
  cursor: pointer;
  /* stroke: #13c2c8; */
  stroke: #c81313;
  text-align: center;
}

.highlight {
  background-color: #0095770c;
}

/*
  Media Queries 
*/
@media screen and (max-width: 650px) {
  main {
    flex-direction: column;
    /* background-color: #ccc; */
  }
}
